<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedItem.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedItem">
    <img src={{selectedItem.imageUrl}}>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    {{selectedItem.name}}
  </h4>
  <p text-center *ngIf="selectedItem">
    {{selectedItem.address}}
  </p>
  <h4 text-center *ngIf="selectedItem">
    IP: {{selectedItem.ip}}
  </h4>
  <h4 text-center *ngIf="selectedItem">
    Balance: <b>{{selectedItem.balance}}</b>
  </h4>
  <h4 text-center *ngIf="selectedItem">
    <ion-chip *ngIf="selectedItem.status"
              [color]="selectedItem.status == 'ENABLED' ? 'secondary' : 'danger'"
              style="padding-left: 10px; padding-right: 10px; font-size: 2rem;">
      {{selectedItem.status}}
    </ion-chip>
  </h4>
  <div text-center>
    <button ion-button color="primary" (click)="removeAlert()">Remove MasterNode</button>
  </div>
</ion-content>
